#nav-bar {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em;
  z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 10px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 2.3;
}

#nav-bar button {
  border-top: 1px solid #96d1f8;
  background: white;
  padding: 12px 24px;
  border-radius: 11px;
  color: #00a087;
  font-size: 18px;
  float: right;
  margin-top: 15px;
}



#nav-bar button:hover {
  color: #0e3033;
  background-color: #dedede
}