.new-tweet {
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin: 0 2em;
  background-color: pink;
}

.new-tweet h2 {
  border-bottom: 2px solid black;
}

.new-tweet textarea {
  width: 100%;
  padding-left: 8px;
  margin: 0 auto;
}

.new-tweet .counter {
  float: right;
}

/*old tweets*/
.tweet {
  margin: 15px 2em 15px 2em;
  height: 250px;
  color: #244751;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.tweet:hover > header {
  background-color: pink;
}

.avatar {
  width: 80px;
  height: 80px;
  float: left;
}
.tweet header {
  height: 80px;
  background-color: #eee;
}

.tweet .header {
  font-size: 1.5em;
  line-height: 3.2;
  padding-left: 15px;
}

.tweet .handle {
  float: right;
  padding: 5px;
}

.tweet p {
  width: 100%;
  margin: 10px 10px;
}

.tweet footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.tweet .date {
  float: left;
  padding: 5px;
}

.tweet .icons {
  float: right;
  height: 20px;
  width: 20px;
  padding-top: 2px;
  margin: 5px 2px;
  display: none;
}