.new-tweet {
  display: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  margin: 0 2em;
  background-color: #dedede;
}

.new-tweet h2 {
  border-bottom: 2px solid black;
}

.new-tweet textarea {
  width: 100%;
  padding-left: 8px;
  margin: 0 auto;
}

.new-tweet .counter {
  float: right;
}

/*old tweets*/
.tweet {
  margin: 15px 2em 15px 2em;
  height: 250px;
  color: #244751;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.tweet:hover > header {
  background-color: #dedede;
}

.avatar {
  width: 60px;
  height: 60px;
  margin: 10px 10px;
  border: 1px;
  border-radius: 7px;
  float: left;
}
.tweet header {
  height: 80px;
  background-color: #eee;
}

.tweet .header {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.7;
  padding-left: 7px;
}

.tweet .handle {
  float: right;
  padding: 9px;
}

.tweet p {
  width: 100%;
  margin: 10px 10px;
}

.tweet footer {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  border-top: 1px solid #ccc;
}

.tweet .date {
  float: left;
  padding: 5px;
}

.tweet:hover > footer > .icons {
  display: inline;
  float: right;
  height: 30px;
  width: 27px;
}

.tweet .icons {
  display: none;

}
